<?xml version="1.0" encoding="UTF-8"?>
<!-- 关键：必须加这一句！！！ -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 读取 SpringBoot 默认的颜色转换器 ← 必须加 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <logger name="${appName}" level="Debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="common" level="Debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %clr(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>